{% extends 'base_admin.html' %}
{% load static %}
{% load material_form %}


{% block content %}
     <h3 class="center">Relatório Tempo de estudo x Nivel de dificuldade</h3>

    <div class="row">
        <div class="col">
            Este relatorio conta com os dados do questionario realizado pelos alunos do curso de analise e desenvolvimento de sistemas,
            que foi respondido por {{quests|length }} alunos do IFNMG - Campus Almenara
        </div>
    </div>

    <div class="row ">
        <div class="col">
            <canvas id="tempo_dif" width="900" height="500"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="striped centered">
                <thead>
                    <tr>
                        <th colspan="6" class="center">
                            Relação Tempo de Estudo x Nivel Dificuldade
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th></th>
                        <th>Nivel de Dificulde 1</th>
                        <th>Nivel de Dificulde 2</th>
                        <th>Nivel de Dificulde 3</th>
                        <th>Nivel de Dificulde 4</th>
                        <th>Nivel de Dificulde 5</th>
                    </tr>
                    <tr>
                        <th>1 Hora de estudo</th>
                    {%for qtd in list_1hora %}
                        <td>{{qtd}}</td>
                    {%endfor%}
                    </tr>
                    <tr>
                        <th>2 Horas de estudo</th>
                    {%for qtd in list_2horas %}
                        <td>{{qtd}}</td>
                    {%endfor%}
                    </tr>
                    <tr>
                        <th>3 Horas de estudo</th>
                    {%for qtd in list_3horas %}
                        <td>{{qtd}}</td>
                    {%endfor%}
                    </tr>
                    <tr>
                        <th>4 Horas de estudo</th>
                    {%for qtd in list_4horas %}
                        <td>{{qtd}}</td>
                    {%endfor%}
                    </tr>
                    <tr>
                        <th>Mais de 4 Horas de estudo</th>
                    {%for qtd in list_4horas_mais %}
                        <td>{{qtd}}</td>
                    {%endfor%}
                    </tr>

                </tbody>
            </table>
        </div>


    </div>

{% endblock %}

{% block script %}

var list_1hora       =  {{list_1hora}}
var list_2horas      = {{list_2horas}}
var list_3horas      = {{list_3horas}}
var list_4horas      = {{list_4horas}}
var list_4horas_mais = {{list_4horas_mais}}



var ctx = document.getElementById('tempo_dif').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['1 Hora', '2 Horas ', '3 Horas', '4 Horas', 'Mais de 4 horas'],
        datasets: [{
            label: 'Dificuldade nivel 1',

            data: [list_1hora[0],
                    list_2horas[0],
                    list_3horas[0],
                    list_4horas[0],
                    list_4horas_mais[0]],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)'


            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)'
            ],
            borderWidth: 1
        },
        {
            label: 'Dificuldade nivel 2',

            data: [list_1hora[1],
                    list_2horas[1],
                    list_3horas[1],
                    list_4horas[1],
                    list_4horas_mais[1]],
            backgroundColor: [
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)'

            ],
            borderColor: [

                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)'
            ],
            borderWidth: 1
        },
        {
            label: 'Dificuldade nivel 3',


            data: [list_1hora[2],
                    list_2horas[2],
                    list_3horas[2],
                    list_4horas[2],
                    list_4horas_mais[2]],
            backgroundColor: [
                'rgba(255, 206, 86, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(255, 206, 86, 0.2)'


            ],
            borderColor: [
                'rgba(255, 206, 86, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(255, 206, 86, 1)'

            ],
            borderWidth: 1
        },
        {
            label: 'Dificuldade nivel 4',

            data: [list_1hora[3],
                    list_2horas[3],
                    list_2horas[3],
                    list_4horas[3],
                    list_4horas_mais[3]],
            backgroundColor: [
                'rgba(75, 192, 192, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(75, 192, 192, 0.2)',

            ],
            borderColor: [
                'rgba(75, 192, 192, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(75, 192, 192, 1)'

            ],
            borderWidth: 1
        },
        {
            label: 'Dificuldade nivel 5',

            data: [list_1hora[4],
                    list_2horas[4],
                    list_3horas[4],
                    list_4horas[4],
                    list_4horas_mais[4]],
            backgroundColor: [
                'rgba(153, 102, 255, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(153, 102, 255, 0.2)'

            ],
            borderColor: [
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)'
            ],
            borderWidth: 1
        }




    ],



    },
    options: {

    }
});

{% endblock %}