{% extends 'base_admin.html' %}
{% load static %}
{% load material_form %}


{% block title %}Relatorio Geral{%endblock%}

{% block content %}

<div class="row">

        <table class="centered">
            <thead>
                <tr>
                    <th colspan="4">
                        <h3>Relatorio Geral</h3>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th colspan="4">
						Nesse presente relatório mostra os dados do questionário realizado sobre o uso das ANP´s
						correspondente ás turmas do ensino superior e técnicos do IFNMG - Campus Almenara.
					</th>
                </tr>
                <tr>
                    <td colspan="2">Numero de alunos do ensino superior {{superior|length }}</td>
                    <td colspan="2">Numero de alunos do ensino tecnico {{tecnico|length }}</td>
                </tr>
                <tr>
                    <td colspan="2">
						<div class="col">
							<canvas id="graf_superiores" width="400" height="400"></canvas>
						</div>

                    </td>
                    <td colspan="2">
						<div class="col">
							<canvas id="graf_tecnicos" width="400" height="400"></canvas>
						</div>
                    </td>
                </tr>
				<tr>
					<th colspan="4">Nivel de satisfação dos alunos sobre as ANPS</th>
				</tr>
				 <tr>
                    <td colspan="4">
						<div class="col">
							<canvas id="graf_satisfacao" width="500" height="500"></canvas>
						</div>

                    </td>
                </tr>





            </tbody>




        </table>




</div>


{% endblock %}

{% block script %}
var ctx_superiores = document.getElementById('graf_superiores').getContext('2d');
var ctx_tecnicos = document.getElementById('graf_tecnicos').getContext('2d');

var ctx_satisfacao = document.getElementById('graf_satisfacao').getContext('2d');


var perg4_sup = {{perg4_sup}}
var perg4_tec = {{perg4_tec}}


var graficos_superios = new Chart(ctx_superiores, {
    type: 'doughnut',
    data: {
		datasets: [{
			data: [
				{{qtd_ads}},
				{{qtd_eng}},
				{{qtd_pg}}
			],
			backgroundColor: [
				'rgba(255, 99, 132, 1)',
				'rgba(54, 162, 235, 1)',
				'rgba(255, 206, 86, 1)',
			],
			label: 'Dataset 1'
		}],
		labels: [
				'Análise e Desenvolvimento de Sistemas - ADS',
				'Engenharia Agronômica',
				'Tecnologia em Processos Gerenciais'
			],

	},
    options: {
				responsive: true,
				legend: {
					position: 'top',
				},
				title: {
					display: true,
					text: 'Alunos por Curso superior'
				},
				animation: {
					animateScale: true,
					animateRotate: true
				}
			}
});



var grafico_tecnicos = new Chart(ctx_tecnicos, {
    type: 'doughnut',
    data: {
		datasets: [{
			data: [
				{{qtd_adm}},
				{{qtd_agr}},
				{{qtd_alt}},
				{{qtd_inf}},
				{{qtd_zoo}},
				{{qtd_enf}},
			],
			backgroundColor: [
				'rgba(255, 99, 132, 1)',
				'rgba(54, 162, 235, 1)',
				'rgba(255, 206, 86, 1)',
				'rgba(75, 192, 192, 1)',
				'rgba(153, 102, 255, 1)',
				'rgba(200, 99, 235, 1)',


			],
			label: 'Tecnicos'
		}],
		labels: [
				'Técnico em Administração Integrado ao Ensino Médio',
				'Técnico em Agropecuária Integrado ao Ensino Médio',
				'Técnico Agropecuária Integrado ao Ensino Médio em Regime de Alternância',
				'Técnico em Informática Integrado ao Ensino Médio',
				'Técnico em Zootecnia Integrado ao Ensino Médio',
				'Técnico em Enfermagem Subsequente',
			],

	},
    options: {
				responsive: true,
				legend: {
					position: 'top',
				},
				title: {
					display: true,
					text: 'Alunos por Curso tecnico'
				},
				animation: {
					animateScale: true,
					animateRotate: true
				}
			}
});

var graf_satisfacao  = new Chart(ctx_satisfacao, {
    type: 'bar',
    data: {
        labels: ['1 - Péssimo', '2 - Ruim ', '3 - Regular', '4 - Bom', '5 - Muito bom'],
        datasets: [{
            label: 'Alunos do Superior',

            data: perg4_sup,

            backgroundColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)'


            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)'
            ],
            borderWidth: 1
        },
        {
            label: 'Alunos do Tecnico',

            data: perg4_tec,

            backgroundColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)'

            ],
            borderColor: [

                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)'
            ],
            borderWidth: 1
        },
    ],
    },
    options: {

    }
});






{% endblock %}